@import "../../source/components/bootstrap/scss/bootstrap";
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');


$brightsun: #fec63e;
$black: #000000;
$white: #FFFFFF;


html {
  margin-top: 0 !important;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.bg-yellow {
  background-color: $brightsun;
}

.bg-black {
  background-color: $black;
}

.color-black {
  color: $black;
}

.color-yellow {
  color: $brightsun;
}

.border-yellow {
  border-color: $brightsun;
}

.border-black {
  border-color: $black;
}

@import "header";

@import "home";